<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- including the components here -->
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
